@import '@styles/var.scss';
@import "@styles/mixins.scss";


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;

    margin-top: 5rem;

    p {
        color: rgb(213, 41, 41);
        max-width: 25ch;

        margin-top: .5rem;
    }
}

.not_movies:has(.error) {
    margin-top: 3rem;
    height: 70vh;
}

@include md(tablet) {
    .error {
        font-size: 1.2rem;
    }

    .not_movies:has(.error) {
        margin-top: 5rem;
        height: 71.5vh;
    }
}

@include md(desktop) {
    .not_movies:has(.error) {
        height: 70.1vh;
    }
}