@import '@styles/var.scss';
@import "@styles/mixins.scss";

#not_found_container {
  height: 77.5vh;
}

#eyes {
  display: block;
  position: relative;
  width: 12.5rem;
  height: 6.25rem;
  margin: 15% auto 0;
  animation: shvr 0.2s infinite;
  padding: 0 .5rem;

  &::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background: #000;
    position: absolute;
    top: 1.875rem;
    left: 1.563rem;
    border-radius: 50%;
    box-shadow: 7.813rem 0 0 #000;
    animation: eye 2.5s infinite;
  }

  div {
    position: relative;
    display: inline-block;
    background: #fff;
    width: 4.375rem;
    height: 5rem;
    border-radius: 50% 50% 50% 50% / 45px 45px 45% 45%;
    transform: rotate(45deg);
  

  
    &:nth-of-type(2) {
      float: right;
      transform: rotate(-45deg);
      &::after {
        left: 0;
      }
    }
  
    &:nth-of-type(3) {
      display: none;
    }
  }
}

#not_found {
  margin-top: 3.75rem;
  text-align: center;
  color: #fff;
  &::before {
    content: "404";
    font-size: 5rem;
    font-weight: 800;
    display: block;
    margin-bottom: 0.625rem;
  }
  &::after {
    content: "Got lost? How.....?  why.....?  Ahhhh....";
    color: $secondary;
    width: 7.5rem;
    font-size: 1.925rem;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    animation: text-show 2s infinite steps(3);
  }
}

@keyframes eye {
  0%,
  30%,
  55%,
  90%,
  100% {
    transform: translate(0, 0);
  }
  10%,
  25% {
    transform: translate(0, 1.25rem);
  }
  65% {
    transform: translate(-1.25rem, 0);
  }
  80% {
    transform: translate(1.25rem, 0);
  }
}

@keyframes shvr {
  0% {
    transform: translate(0.063rem);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(-0.063rem);
  }
}

@keyframes text-show {
  to {
    text-indent: -23.313rem;
  }
}


@include md (tablet) {
  #not_found_container {
    height: 78.3vh;
  }
}

@include md (desktop) {
  #not_found_container {
    height: 82.6vh;
  }

  #eyes {
    margin: 10% auto 0;
  }
}

@include md (large) {
  #not_found_container {
    height: 80vh;
  }

  #eyes {
    margin: 8% auto 0;
  }
}
