li { 
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1rem;
}

li img {
    width: 9.375rem;
    height: 14.063rem;
    border-radius: .5rem;
    object-fit: cover;
}

.movie_info {
    width: 9.375rem;
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    margin-left: .5rem;
}

.movie_info p:nth-child(2) {
    opacity: .7;
}

.movie_info h3 {
    font-size: 1rem;
    max-width: 14ch;
}