@import '@styles/var.scss';
@import "@styles/mixins.scss";

.movie_item { 
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1rem;

    opacity: .8;
    transition: all .3s;

    color: #fff;
    text-decoration: none;

    img {
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
    }
}

.movie_item:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
}

.movie_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    margin-left: .5rem;
}

.movie_info p:nth-child(2) {
    opacity: .7;
}

.movie_info h3 {
    font-size: 1rem;
    max-width: 14ch;
}

@include md (tablet) {
    .movie_item {
        width: 35%;
    }
}

@include md (desktop) {
    .movie_item {
        width: 18%;
    }
}

@include md (large) {
    .movie_item {
        width: 20%;

        img {
            width: 9.375rem;
            height: 14.063rem;
        }
    }

    .movie_info {
        width: 9.375rem;
    }
}
