@import '@styles/var.scss';
@import "@styles/mixins.scss";

.poster_container {
    display: flex;
    width: 65%;

    img {
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
    }
}

@include md (tablet) {
    .poster_container {
        width: 50%;
    }
}

@include md (desktop) {
    .poster_container {
        width: 30%;
        height: 100%;

        img {
            width: auto;
        }
    }
}

@include md (large) {
    .poster_container {
        width: 30%;
    }
}