@import "@styles/var.scss";

.app_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: $font;

    width: 100%;
    height: 100%;

    main {
        height: 80%;
        max-height: 80%;
    }
}
