@import '@styles/var.scss';
@import "@styles/mixins.scss";

.movie_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 2.2rem 1.5rem 2.2rem;
}

.info_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info_container:nth-child(2) {
    padding: 0;
}

.info_container {
    padding-top: .5rem;
}

.info_container:has(.stars) {
    flex-direction: row;
    align-items: center;
    align-self: flex-start;

    .stars {
        width: 38%;

        span {
            font-size: 1.5rem;
        }
    }
    
    p {
        padding-top: .3rem;
        margin-left: .5rem;
    }
}

@include md (tablet) {
    .info_container:has(.stars) {
        .stars {
            width: 18%;
        }
    }
}

@include md (desktop) {
    .movie_details {
        height: 70vh;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 2rem 0 2.5rem 0;
    }

    .info_container:has(.stars) {
        .stars {
            width: 25%;
        }
    }

}

@include md (large) {
    .movie_details {
        padding: 0;
        justify-content: center;
    }

    .info_container:nth-child(3) {
        padding-top: 2rem;
    }
}
