@import '@styles/var.scss';
@import "@styles/mixins.scss";

.pagination{
    display: flex;
    justify-content: center;

    padding: 2rem 0 3rem 0;
    margin: 0;
    
    button {
        background: transparent;
        border: none;

        font-size: .875rem;
        color: $secondary;
        opacity: .8;

        min-width: 2rem;
        height: 2rem;
        padding: 0 0.375rem;
        margin: 0 .3em;
    }

    .not_number_btn {
        font-weight: bold;
        opacity: 1;
    }

    .not_number_btn:disabled {
        opacity: .3;
    }

    .number:hover, .not_number_btn:not([disabled]):hover {
        background: $secondary;
        color: $primary;
        opacity: .5;

        
        border-radius: 1rem;
        text-align: center;
        box-sizing: border-box;

        cursor: pointer;
    }

    .selected {
        background: $secondary;
        color: $primary;

        border-radius: 1rem;
        text-align: center;
        box-sizing: border-box;
    }
}

@include md (tablet) {
    .pagination {

        button {
            font-size: 1rem;
            margin: 0 .8rem;
        }
    }
}
