@import "@styles/var.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    width: 100vw;
    height: 100vh;

    background: $background;
}


/* Scrollbar Styles */
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:0.625rem;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 0.625rem;
}

body::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 1.25;
    border: 2px solid $primary;
}

body::-webkit-scrollbar-track {
    border-radius: 0.625rem;  
}

#root {
    width: 100%;
    height: auto;
}